$icomoon-font-path: "../../assets/fonts" !default;

$pa-appending: "\f067";
$pa-time: "\f017";
$pa-iterating: "\f01e";
$pa-info: "\f05a";
$pa-error: "\f06a";
$pa-github: "\f09b";
$pa-power: "\f0e7";
$pa-code: "\f121";
$pa-archive: "\f187";
$pa-loading: "\f1ce";
$pa-ram: "\f2db";
