## Maven ##
/*/target/
/*/pom.xml.*
/*/release.properties
/pom.xml.*
/release.properties

## JavaScript ##
node_modules/
node/

## Generic ##
*.log

## IDE ##

# Cloud9
/.c9/

# IntelliJ
.idea
*.iml

