.flex-container {
  display: flex;
  justify-content: space-around;

  &.vertical {
    flex-direction: column;
  }
  .flex {
    flex: 1 0 0;

    @for $i from 2 through 6 {
      .flex-grow-#{$i} {
        flex-grow: #{$i};
      }
    }
  }
}
