.flex-container {
  display: flex;
  justify-content: space-around;

  &.vertical {
    flex-direction: column;
  }
  .flex {
    flex: 1 1 0;

    // @for $i from 2 through 5 {
    // Don't create useless rules. We only have use for certain values.
    @each $i in 6, 4 {
      .flex-grow-#{$i} {
        flex-grow: #{$i};
      }
    }
  }
}
