@import '../../style/variables';

ul.solutions {
  margin: $toolbar-block-margin;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  padding: 0;
  li {
    cursor: pointer;

    list-style: none;

    margin: $button-margin;
    padding: $button-padding;

    border-radius: $block-border-radius;
    background-color: $solution-color-normal;

    display: inline-block;
    text-align: center;
    font-weight: bold;

    &.header, &.header:hover {
      cursor: auto;

      background-color: $solution-color-header;
      font-weight: normal;
    }
    &.selected, &:hover {
      background-color: $solution-color-selected;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
