@import '../../../../../node_modules/normalize.css/normalize.css';
@import '../style/variables';
// Iconic font
@import '../style/icons';

body {
  font-family: Helvetica, Verdana, sans-serif;

  // CGI Branding
  background: url('../../assets/img/dna-wide.png') no-repeat left bottom fixed;
  background-size: 100% auto;

  // Better font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .app-root {
    // Directive-related styles
    @import '../vue/directives/highlightjs/highlightjs';
    @import '../vue/directives/highcharts/highcharts';
    // Other styles
    @import 'style/flexbox';

    padding: $app-padding-vertical $app-padding-horizontal;

    @import 'style/spinner';

    .col {
      display: inline-block;
      width: 50%;
    }

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      color: map-get($cgi-colors, beet);
    }

    @import 'style/animations';
  }
}
