@import '../style/variables';

.app-root {
  padding: $app-padding-vertical $app-padding-horizontal;

  .col {
    padding: $cols-padding;
  }

  &.loading {
    transition: opacity $animation-opacity-transition;
    opacity: $app-loading-opacity;
  }

  // Sliding animation
  .slide {
    transition: $animation-sliding-transition;

    &.up {
      overflow: hidden;
      max-height: 0;
      margin: {
        top: 0;
        bottom: 0;
      }
      padding: {
        top: 0;
        bottom: 0;
      }
      border: {
        top-width: 0;
        bottom-width: 0;
      }
    }
  }

}
