@import '/node_modules/normalize.css/normalize.css';

body {
  font-family: Helvetica, Verdana, sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-around;

  &.vertical {
    flex-direction: column;
  }
  .flex {
    flex: 1 1 0;
    //&.flex-content {
    //  flex-basis: auto;
    //}
    //&.flex-no-grow {
    //  flex-grow: 0;
    //}
    //@for $i from 2 through 5 {
    //  .flex-grow-#{$i} {
    //    flex-grow: #{$i};
    //  }
    //}
  }
}
