@import '../../style/variables';

div {
  &.solutions {
    margin: $block-margin;
  }

  &.toolbar {
    margin: $block-margin;

    button {
      margin: $button-margin;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      padding: $button-padding;

      border: none;
      border-radius: $button-border-radius;
      background-color: $button-color;

      &.primary {
        background-color: $button-color-primary;
      }

      text-align: center;
      font-weight: bold;
    }
  }
}
