<div>
    <div class="solutions flex-container">
        <solution-chooser problem="iterating"></solution-chooser>
        <solution-chooser problem="appending"></solution-chooser>
        <solution-memory></solution-memory>
    </div>

    <code-presenter></code-presenter>

    <div class="toolbar flex-container">
        <button class="flex primary" @click="testSolution" :disabled="loading">Call the service</button>
        <button class="flex" @click="wipeTests">Forget all of it</button>
    </div>
</div>
