.chart {
  margin: $block-margin-v + $block-padding-v $block-margin-h + $block-padding-h;
  height: $chart-height;
  width: $chart-width;

  &.bar {
    height: $chart-height-bar;
  }
}

rect.highcharts-background {
  fill: $block-background !important;
}
