<div>
    <solution-chooser problem="iterating"
                      :solutions="iteratingSolutions"></solution-chooser>
    <solution-chooser problem="appending"
                      :solutions="appendingSolutions"></solution-chooser>

    <!--<pre class="java hljs"><code><span class="hljs-comment">/**
 * Fetches all Cyrils in database.
 * <span class="hljs-doctag">@return</span> a JSON representation of a collection of names
 */</span>
<span class="hljs-function"><span class="hljs-keyword">public</span> String <span class="hljs-title">fetchCyrils</span><span class="hljs-params">()</span> </span>{
    List&lt;Person&gt; people = repository.findAll();
    <span class="hljs-keyword">boolean</span> first = <span class="hljs-keyword">true</span>;
<span>    String result = <span class="hljs-string">"["</span>;
</span>
<span>    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">int</span> i = <span class="hljs-number">0</span>; i &lt; people.size(); i++) {
        Person person = people.get(i);
</span>
        <span class="hljs-keyword">if</span> (<span class="hljs-string">"Cyril"</span>.equals(person.getFirstName()) {
            <span class="hljs-keyword">if</span> (first) {
                first = <span class="hljs-keyword">false</span>;
            } <span class="hljs-keyword">else</span> {
<span>                result += <span class="hljs-string">",]"</span>;
</span>            }
<span>            result += <span class="hljs-string">"\""</span>;
            result += person.getFirstName();
            result += <span class="hljs-string">" "</span>;
            result += person.getLastName();
            result += <span class="hljs-string">"\""</span>;
</span>        }
    }

<span>    result += <span class="hljs-string">"]"</span>;
    <span class="hljs-keyword">return</span> result;
</span>}</code></pre>-->
    <pre class="java" v-highlightjs><code>/**
 * Fetches all Cyrils in database.
 * @return a JSON representation of a collection of names
 */
public String fetchCyrils() {
    List&lt;Person&gt; people = repository.findAll();
    boolean first = true;
</code><code v-show="appendingSolution === appendingSolutions[0]">    String result = "[";
</code><code v-show="appendingSolution === appendingSolutions[1]">    StringBuffer result = new StringBuffer().append("[");
</code><code v-show="appendingSolution === appendingSolutions[2]">    StringBuilder result = new StringBuilder().append("[");
</code><code v-show="iteratingSolution === iteratingSolutions[0]">    for (int i = 0; i &lt; people.size(); i++) {
        Person person = people.get(i);
</code><code v-show="iteratingSolution === iteratingSolutions[1]">    int length = people.size();
    for (int i = 0; i &lt; length; i++) {
        Person person = people.get(i);
</code><code v-show="iteratingSolution === iteratingSolutions[2]">    int length = people.size();
    for (int i = 0; i &lt; length; ++i) {
        Person person = people.get(i);
</code><code v-show="iteratingSolution === iteratingSolutions[3]">    Iterator&lt;Person&gt; iter = people.iterator();
    while (iter.hasNext()) {
        Person person = iter.next();
</code><code v-show="iteratingSolution === iteratingSolutions[4]">    for (Person person : people) {
</code><code>
        if ("Cyril".equals(person.getFirstName()) {
            if (first) {
                first = false;
            } else {
</code><code v-show="appendingSolution === appendingSolutions[0]">                result += ",]";
</code><code v-show="appendingSolution !== appendingSolutions[0]">                result.append(",");
</code><code>            }
</code><code v-show="appendingSolution === appendingSolutions[0]">            result += "\"";
            result += person.getFirstName();
            result += " ";
            result += person.getLastName();
            result += "\"";
</code><code v-show="appendingSolution !== appendingSolutions[0]">            result.append("\"")
                  .append(person.getFirstName())
                  .append(" ")
                  .append(person.getLastName())
                  .append("\"");
</code><code>        }
    }

</code><code v-show="appendingSolution === appendingSolutions[0]">    result += "]";
    return result;
</code><code v-show="appendingSolution !== appendingSolutions[0]">    result.append("]");
    return result.toString();
</code><code>}</code></pre>
</div>
