$app-padding-horizontal: 20px;
$app-padding-vertical: 0;
$app-loading-opacity: .5;

$cols-padding: 10px;

$chart-height: 400px;
$chart-width: 100%;

$colors: (
        worst: #AA0000,
        best: #006600,
        last: #FF6600
);
