@import './variables/app';
@import './variables/bubbles';
@import './variables/charts';

@import './variables/animations';

$calls-colors: (
        worst: #AA0000,
        best: #006600,
        last: #FF6600
);
